[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
psycopg2-binary = "==2.9.10"
dj-database-url = "==2.3.0"
pytz = "==2025.2"
django-extensions = "==4.1"
ipython = "==8.18.1"
celery = "==5.5.1"
whitenoise = "==6.9.0"
gevent = "==24.11.1"
waitress = "==3.0.2"
hiredis = "==3.1.0"
django-redis-cache = "==3.0.1"
Django = "==4.2.7"

behave = "==1.2.6"
behave-django = "==1.4.0"
PyHamcrest = "==2.1.0"
splinter = "==0.21.0"
