[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
psycopg2-binary = "==2.9.3"
dj-database-url = "==1.0.0"
pytz = "==2022.1"
django-extensions = "==3.2.0"
ipython = "==8.4.0"
celery = "==5.2.7"
whitenoise = "==6.2.0"
gevent = "==21.12.0"
waitress = "==2.1.2"
hiredis = "==2.0.0"
django-redis-cache = "==3.0.1"
Django = "==4.1"

behave = "==1.2.6"
behave-django = "==1.4.0"
PyHamcrest = "==2.0.3"
splinter = "==0.18.1"
