[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
psycopg2-binary = "==2.9.9"
dj-database-url = "==2.1.0"
pytz = "==2023.3.post1"
django-extensions = "==3.2.3"
ipython = "==8.18.1"
celery = "==5.3.6"
whitenoise = "==6.6.0"
gevent = "==23.9.1"
waitress = "==2.1.2"
hiredis = "==2.3.2"
django-redis-cache = "==3.0.1"
Django = "==4.2.7"

behave = "==1.2.6"
behave-django = "==1.4.0"
PyHamcrest = "==2.1.0"
splinter = "==0.20.1"
